-provide(:title, "Edit")
%p #{link_to "Back", @picture} 
		
%h1.center Edit Picture

.row
	.span6.offset3
		= form_for(@user) do |f|
			.forms
				=render 'shared/error_messages'
				
				#{f.label :artist} #{f.text_field :artist}
				#{f.label :title} #{f.text_field :title}
				#{f.label :url} #{f.password_field :url}
				#{f.label :password_confirmation, "Confirmation"} #{f.password_field :password_confirmation}
				#{f.submit "Save", class: "btn btn-large btn-primary"}